# Python
venv/
.venv/
__pycache__/
*.py[cod]

# Environment
.env

# Node / Tailwind
node_modules/
theme/static_src/node_modules/

# Django generated/local files
staticfiles/
db.sqlite3

# Backup database
*.backup
*.dump
*.sql

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db